{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main>
    <div class="px-0 py-3">
        <h4>Cписок сторінок</h4>
        <p>Тут вам потрібно написати інформацію про ваш проєкт.<br>
            Поки що можна написати будь-який текст
        </p>
    </div>
    <div class="p-0">
        {{#each buttons}}
        <p class="m-0 p-0">
            {{!-- {{@key}} --}}
            {{>shopButtons}}
        </p>
        {{/each}}
    </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}