<a href="{{link}}" {{#if blank}} target='_blank' {{/if}}
    class="my-1 me-2 btn {{#if isPrimary}}btn-primary{{/if}}{{#if isSecondary}}btn-secondary{{/if}}{{#if isSuccess}}btn-success{{/if}}{{#if isDanger}}btn-danger{{/if}}{{#if isWarning}}btn-warning{{/if}}{{#if isInfo}}btn-info{{/if}}{{#if isLight}}btn-light{{/if}}{{#if isDark}}btn-dark{{/if}}{{#if isLink}}btn-link{{/if}}">{{text}}</a>

{{!-- {{#if isOutline}}btn-outline-primary --}}
{{!-- {{#if is}}btn-outline-secondary --}}
{{!-- {{#if is}}btn-outline-success --}}
{{!-- {{#if is}}btn-outline-danger --}}
{{!-- {{#if is}}btn-outline-warning --}}
{{!-- {{#if is}}btn-outline-info --}}
{{!-- {{#if is}}btn-outline-light --}}
{{!-- {{#if is}}btn-outline-dark --}}